.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  object-fit: cover;
  height: 282px;
  max-width: 282px;
  position: relative;
}

.card__delete-button {
  height: 19px;
  width: 18px;
  border: none;
  padding: 0;
  margin: 0;
  background: url('../images/Trash.svg') center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 15px 31px 21px;
}

.card__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  max-width: 220px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 21px;
  height: 18px;
  display: flex;
  justify-self: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  background: transparent url('../images/card-icon.svg') center no-repeat;
}

.like-button__selected {
  background: transparent url('../images/selected-like.png') center no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
