.cards {
  font-family: "Inter", Arial, sans-serif;
  max-width: 900px;
  margin: auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 361px;
}

.card__image {
  min-height: 282px;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 15px 31px 21px;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  max-height: 29px;
  color: #000;
  max-width: 220px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 21px;
  height: 18px;
  display: flex;
  justify-self: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent url("../images/card-icon.svg") center no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
}
