.footer {
  display: flex;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 880px;
  margin: auto;
}

.footer__content {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (min-width: 596px) and (max-width: 896px) {
  .footer {
    max-width: 590px;
  }
}

@media screen and (max-width: 596px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__content {
    font-size: 14px;
  }
}
