.footer {
  display: flex;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 90%;
  margin: auto;
}

.footer__content {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 596px) {
  .footer {
    padding: 48px 0 36px 19px;
  }

  .footer__content {
    font-size: 14px;
  }
}
