.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  width: 430px;
  height: 330px;
  border: none;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url(../images/close-icon.svg);
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 34px 0 45px 36px;
  margin: 0;
  width: 385px;
  display: flex;
  justify-self: flex-start;
}

.modal__input {
  width: 358px;
  height: 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  outline: none;
  margin-bottom: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
}

.modal_divider {
  width: 385px;
  opacity: 0.2;
  border: 1px solid #000000;
}

.modal__save-button {
  background-color: #000000;
  border-radius: 2px;
  border: none;
  color: #fff;
  width: 358px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.modal__save-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 596px) {
  .modal__close-button {
    background-size: 26px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__title {
    width: 238px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0 56px;
  }

  .modal__input {
    width: 238px;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
  }
}
