.profile {
  display: flex;
  align-items: center;
  width: 880px;
  margin: auto;
  padding-top: 36px;
  padding-bottom: 47px;
}

.profile__description {
  margin: auto;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.profile__photo {
  border-radius: 100%;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
}

.profile__title {
  display: flex;
  align-items: center;
}

.profile__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  max-width: 400px;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subheader {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 410px;
  margin: 0;
  flex: 1;
  padding-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  padding: 11px;
  background: url(../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  display: flex;
  flex: 0;
  transition: 0.3s;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-card-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  background: url(../images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  margin-left: 165px;
  transition: 0.3s;
}

.card__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 596px) and (max-width: 896px) {
  .profile {
    max-width: 590px;
  }

  .profile__name {
    font-size: 25px;
    max-width: 250px;
  }
  .profile__description {
    padding-left: 0;
  }
  .profile__subheader {
    font-size: 15px;
    padding-top: 15px;
    max-width: 250px;
  }

  .profile__edit-button {
    padding: 9px;
  }

  .profile__add-card-button {
    margin-left: 50px;
    width: 100px;
  }
}

@media screen and (max-width: 596px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
    padding-top: 0;
    padding-bottom: 36px;
  }

  .profile__photo {
    margin: auto;
    margin-top: 42px;
  }

  .profile__description {
    padding: 0;
    max-width: 282px;
  }

  .profile__title {
    justify-content: center;
    padding-top: 30px;
  }

  .profile__name {
    font-size: 22px;
    max-width: 282px;
  }

  .profile__subheader {
    font-size: 14px;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 36px;
    max-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 8px;
    background-size: 7.5px;
  }

  .profile__add-card-button {
    margin: auto;
    width: 282px;
  }
}
